.learn-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #dcdbff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.learn-page h2 {
  margin: 0;
  font-size: 4rem;
  color: #1b00c2;
}

.learn-page .back-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #dcdbff;
  text-decoration: none;
  font-size: large;
  font-weight: 500;
  transition: opacity 0.25s;
}

.learn-page .back-link:hover {
  opacity: 0.8;
}

.home-arrow{
  width: 300px;
  height: auto;
}

